img{
  max-width:100%;
  height:auto;
}
body{
  background-color: darkgray;
}
.container{
  max-width:700px;
  margin: 0 auto;
  overflow: auto;
  background-color: white;
}
@media(min-width:650px){
.left-column{
  width:66.6%;
  float:left;
  overflow:auto;
}
.right-column{
  width:33.3%;
  overflow:auto;
}
}

a{
  color: green;
}
h3{
  font-weight: normal;
  padding-bottom: 2px;
  font-family: Georgia;
}
h2{
  margin-top: 0;
  font-size: 24px;
  font-style: italic;
  font-family: Georgia;
}
h1{
  font-family: Georgia;
}
.by-line{
  border-bottom: 5px solid #E8E8E8;
  padding-bottom: 20px;
  margin-bottom: 35px;
}
#more-recipes{
  dispaly:noun;
}
#reveal-recipes{
  padding:10px;
  background-color: lightgray; 
}
