img{
  max-width:100%;
  height:auto;
}
body{
  background-color: darkgray;
}
@media(max-width:700px){
.container{
  margin: 0 auto;
  overflow: auto;
  background-color: white;
}
@media(min-width:650px){
.left-column{
  width:66.6%;
  float:left;
  overflow:auto;
}
.right-column{
  width:33.3%;
  overflow:auto;
}
}
}
